*{
    margin: o;
    padding: 0;
}
body{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
div{
    position: absolute;
    width: 85%;
    background-color: rgba(245, 222, 179, 0.459);
    left: 7.5%;
    right: 7.5%;
    font-size: 28px;
    font-family: 'Reggae One';
    justify-content: center;
    color: black;
}
.side-headings{
    font-weight: bold;
    font-size: 24px;
    color: brown;
}
.headings{
    color: red;
    text-align: center;
}
a{
    text-decoration: none;
    color: blueviolet;
}
#Ash{
    border-radius: 11px;
    border-style: ridge;
    border-color: red;
}
.tab{
    border-style: solid;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 8px;
    border-bottom: 1px solid rgb(56, 56, 56);
}
a:hover{
    color: blue;
}

